<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>${game.title}</title>
</head>
<body>
  <div class="navbar">
    <button type="button">X</button>
    <span th:text="${game.title}"></span>
  </div>
  <div id="teams-container" th:each="team : ${game.teams}">
    <div class="team" id="team-${team.id}">
      <p>${team.name}</p>
      <div th:each="score : ${team.scores}">
        <input readonly>${score}</input>
        <input name="team-${team.name}-new-score">
      </div>
    </div>
  </div>

  <div id="controls"></div>
</body>
</html>