<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css"
      rel="stylesheet">
<head>
  <meta charset="UTF-8">
  <title th:text="${game.name}"></title>
</head>
<body>
  <form action="#" class="container" th:action="@{/update-game}" th:method="post" th:object="${game}">
    <input type="hidden" th:field="*{owner}">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{name}">
    <div class="navbar">
      <a href="/">X</a>
      <span th:text="*{name}"></span>
    </div>
    <th:block th:include="fragments/team"></th:block>
    <br>
    <div id="controls">
      <button class="btn btn-block btn-primary" type="submit" name="updateScores">Submit Scores</button>
    </div>
  </form>
</body>
</html>