<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Game</title>
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
<h1>
  <a th:href="@{/}">X</a>
  <strong>New Game</strong>
</h1>

<form id="new-game-form" th:method="POST" th:action="@{/submit-game}" th:object="${game}">
  <input type="hidden" id="owner" th:field="*{owner}" th:value="*{owner}">
  <input type="text" th:field="*{name}">
  <div th:each="team, teamStats : *{teams}">
    <input type="hidden" th:field="*{teams[__${teamStats.index}__].game}" th:value="${game}">
    <div>
      <h3 th:text="'Team ' + ${teamStats.index}" />
    </div>
  </div>

  <button type="submit" name="addTeam">Add Team</button>

  <br>

  <button type="submit">Start!</button>
</form>
</body>
</html>