<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script>
    function userAuth() {
      let params = {
        username: document.getElementById('login-username').value,
        password: document.getElementById('login-password').value
      }

      fetch('api/user/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(params),
      })
          .then(data => {
            return data.json()
          })
          .then(token => {
            localStorage.setItem("token", token);
            location.href = '/home';
          })
          .catch(error => {
            alert('Error logging in. Please try again');
          })
    }
  </script>
    <title>login</title>
</head>
<body>
  <input value="" id="login-username" name="username" placeholder="Username">
  <input value="" id="login-password" name="password" placeholder="Password">
  <button type="button" onclick="userAuth()">Submit</button>
</body>
</html>